#  root 
.DS_Store
node_modules
quickweb-development
build
build-wgo-swisspay

#  client
client/node_modules
client/.quasar
client/public
client/dist

#  server
server/node_modules
server/private
server/public
.env

#  modules
#  wgo-casina
modules/wgo-casina/settings
modules/wgo-casina/src/wgo-base
modules/wgo-casina/client/src/wgo-base
modules/wgo-casina/public

#  wgo-wisegar
modules/wgo-wisegar/settings
modules/wgo-wisegar/src/wgo-base
modules/wgo-wisegar/client/src/wgo-base
modules/wgo-wisegar/public

#  wgo-swisspay
modules/wgo-swisspay/settings
modules/wgo-swisspay/src/wgo-base
modules/wgo-swisspay/client/src/wgo-base
modules/wgo-swisspay/mobile/src/wgo-base
modules/template/settings
modules/.vscode
modules/.vs
modules/wgo-cli/dist
