#  root 
.DS_Store
node_modules
quickweb-development
build
package-lock.json
#  client
client/node_modules
client/.quasar
client/public
client/dist
#  server
server/node_modules
server/private
server/public
modules/template/settings
modules/template/.env
